<div class="wrapper">
  <div class="topnav">

    <a class="active" href="#home">Demo App</a>

    <div class="topnav-right">
      <a href="#search">Home</a>
      <a href="#about">About Us</a>
      <a href="#search">Jobs</a>
      <a href="#search">Clients</a>
      <a href="#search">Employers</a>
      <a href="#search">Contact Us</a>
    </div>
  </div>

  <div class="content">
      <router-outlet></router-outlet>
  </div>
  
  <div style="clear: both;">&nbsp;</div>

  <div class="footer">
    <p>Subscribe to our Job Seeker Mailing List</p>
    <div>
      <input type="text" placeholder="Enter Your Email Address" />
    </div>
  </div>
</div>