<form>
  <div class="signup-left">

  </div>
  <div class="signup-right">
    <div class="formgroup">
      <input placeholder="First Name" />
      <input placeholder="Last Name" />
    </div>
    <div class="formgroup">
      <input placeholder="Email" />
    </div>
    <div class="formgroup">
      <input placeholder="Phone" />
    </div>
    <div class="formgroup">
      Age <input placeholder="Phone" />
    </div>
    <div class="formgroup">
      State <input placeholder="Phone" />
    </div>
    <div class="formgroup">
      Country <input placeholder="Phone" />
    </div>
    <div class="formgroup">
      Tags <input placeholder="Phone" />
    </div>
    <div class="formgroup">
      <input type="checkbox" /> Subscribe to newsletter
    </div>
    <div class="formgroup">
      <button>Cancel</button>
      <button>Submit</button>
    </div>
  </div>
</form>